{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "semi": 0,
    "strict": [2, "function"],
    "no-undef": 2,
    "no-console": 0,
    "no-unused-vars": 1,
    "arrow-parens": [2, "always"],
    "react/prop-types": [2, { ignore: ["dispatch"] }]
  }
}
